nav {
  display: block;
}

header {
  min-height: 60px;
}

body {
    font-family: 'Arial', sans-serif;
    font-display: swap; /* Note that 'font-display' doesn't apply to non-web fonts */
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
    color: #333;
}

.container {
    max-width: 800px;
    margin: 0 auto; /* Centers the container */
    padding: 20px;
    text-align: center;
    display: flex; /* Flexbox for better layout control */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%; /* Makes images responsive */
    height: auto;
}

h1 {
    color: #007BFF; /* Consistent with h2 */
    font-weight: 600; /* Bolder font weight for emphasis */
    padding: 5px 0 15px; /* Consistent padding */
}

h2 {
    color: #007BFF; /* Removed duplicate style definition */
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensures proper table layout */
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd; /* Consistent border styling */
    padding: 10px;
    text-align: center;
}

.alphabet-idea {
    margin-bottom: 40px; /* Consistent margin */
}

.btn.btn-primary.loadmore {
  background-color: #ffffff;
  color: #212529;
}

.list-group-item.list-group-item-action.active {
  background-color: #ffffff;
  color: #212529;
}

.list-group-item list-group-item-action {
  background-color: #ffffff;
  color: #212529;
}

footer {
    background-color: #333; /* Darker background for footer */
    color: #fff; /* Text in white for contrast */
    padding: 10px;
    position: relative; /* Changed from 'fixed' to avoid overlapping content */
    width: 100%;
    min-height: 120px;
}
